.section-albums-container {
  display: flex;
  margin-top: 1rem;
  flex-flow: row wrap;
}
.album-content {
  width: 15%;
  margin: 1rem 1.5rem;
}
.album-name {
  margin: 0;
  overflow: hidden;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.album-artist {
  margin: 0;
  overflow: hidden;
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 480px) {
  .album-content {
    width: 25%;
    margin: 1rem;
  }
}
