/* .section-artists-info .section-album-info {
  background-color: #ffffff !important;
} */
.section-artist {
  /* left: 23.5rem;
  position: relative;
  width: 75.5%; */
  height: 100vh;
  background-color: #f8f8f6;
  max-height: calc(100vh - 12.5rem);
}
.section-artists-info .section-artist {
  display: none;
}
.section-artists-info .section-artist:target {
  display: block;
}
.section-artist-header {
  position: relative;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  align-items: baseline;
  background-color: #ffffff;
}
.section-artist-header .song-dropdown {
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #2f75ff;
}
.section-artist-header .dropdown-content {
  top: 0.9rem;
  right: 1.3rem;
}
