.dropdown-content {
  z-index: 1;
  top: 0.5rem;
  right: 0rem;
  min-width: 10rem;
  border-radius: 2px;
  position: absolute;
  background-color: #f8f8f6;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
}
.dropdown-option,
.sub-dropdown-trigger {
  display: flex;
  color: #757575;
  padding: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.85rem;
  border-bottom: 1px solid #0000000a;
}
.dropdown-option:hover,
.sub-dropdown-trigger:hover {
  color: #515151 !important;
  background-color: rgba(0, 0, 0, 0.07);
}
.sub-dropdown-trigger {
  padding: 0.52rem !important;
}
.sub-dropdown-content {
  top: 0 !important;
  right: 10rem !important;
}
.sub-dropdown-trigger:hover .sub-dropdown-content {
  display: block !important;
}
