// Colors
@iconColor: #5f6368;
@hoverColor: #3c4043;
@errorColor: #e57373;
@headerColor: #202124;
@borderColor: #e8eaed;
@activeColor: #1967d2;
@darkBackground: #c0c0c0;
@backgroundColor: #ffffff;
@searchBackground: #f1f3f4;
@errorBorderColor: #ef9a9a;
@activeBackground: #e8f0fe;
@hoverBackground: #0000000a;
@paragraphColor: #0000008a;
@albumInfoBackground: #fafafa;
@searchHoverBackground: #e8eaed;
@darkScreenBackground: #00000066;

// Measurements
@headerHeight: 3.7rem;
@playerHeight: 4.76rem;
@contentCardHeadingHeight: 5.96rem;
