@import 'variables.less';

.content_card {
  left: 19.1%;
  width: 80.9%;
  height: auto;
  position: relative;
  background-color: @albumInfoBackground;
  min-height: calc(100vh - @playerHeight - @headerHeight);

  .heading {
    position: relative;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    align-items: baseline;
    background-color: #ffffff;
  }

  &:not(:first-child) > div {
    border-bottom: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .content_card {
    left: 30% !important;
    width: 70% !important;
    margin-bottom: @playerHeight;
  }
}
