@import 'variables.less';

.header {
  left: 32%;
  width: 68%;
  z-index: 1;
  position: relative;
  padding: 1rem 1.6% 0 1.6%;
  background-color: @backgroundColor;
}

.search {
  width: 80%;
  border-radius: 22px;
  position: relative;

  .input_container {
    width: 100%;

    .input_typing {
      border-radius: 22px 22px 0 0;
      background-color: @backgroundColor !important;
      box-shadow: 0px 3px 4px 0px rgba(60, 64, 67, 0.302);
    }

    .input_search_icon {
      right: 0;
      position: absolute;

      i {
        padding: 0.3rem;
        font-size: 1.9rem !important;
      }
    }
  }

  .serach_result_container {
    top: 2.5rem;
    width: 100%;
    height: auto;
    max-height: 14.5rem;
    overflow-y: scroll;
    position: absolute;
    border-top: 0 !important;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: @backgroundColor;
    border: 1px solid @searchBackground;
    box-shadow: 0px 3px 4px 0px rgba(60, 64, 67, 0.302);

    .search_btn {
      width: 100%;
      padding: 0.7rem 1rem;

      &:first-child {
        background-color: @hoverBackground;
      }

      &:hover {
        background-color: @hoverBackground;
      }
    }

    .no_search_result {
      margin: 0;
      width: 100%;
      padding: 0.7rem 1rem;
    }
  }
}

.responsive_header {
  left: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  padding: 0.5rem 1.6% 0.5rem 1.6%;
  background-color: @backgroundColor;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

  .search_wrapper {
    width: 80%;
  }

  .sidebar_trigger {
    top: 0;
    left: 0;
    width: 0;
    z-index: 10;
    height: 100vh;
    position: absolute;

    .sidebar {
      width: 0;
      transition: width 0.5s ease-in;
    }
  }

  .show_sidebar {
    width: 40%;

    .sidebar {
      width: 40%;
      transition: width 0.5s ease-in;
    }
  }
}
