@import 'variables.less';

.section_songs {
  padding: 0.5rem 1.6rem;

  table {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-radius: 2px;
    border: 1px solid @borderColor;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;

      th {
        width: 23.25%;
        padding: 0.8rem;
        font-weight: 400;
        color: @iconColor;
        font-size: 0.85rem;
        background-color: @hoverBackground;
        border-bottom: 1px solid @borderColor;

        &:first-child {
          padding-left: 2rem;
        }

        &:nth-child(2) {
          width: 8%;
        }
      }

      td {
        width: 23.25%;
        padding: 0.8rem;
        font-size: 0.9rem;
        border-bottom: 1px solid @borderColor;

        &:first-child {
          padding-left: 2rem;
        }

        &:nth-child(2) {
          width: 8%;
        }
      }
    }

    tbody {
      display: block;
      overflow-y: scroll;
      height: calc(100vh - 16rem);

      tr {
        cursor: pointer;
        position: relative;
        background-color: @backgroundColor;
        transition: background-color 0.1s ease-in-out;

        .playingSongIcon {
          top: 0;
          left: 0;
          border: 0;
          padding: 0;
          width: 99%;
          height: 100%;
          position: absolute;
        }

        .song_wrapper_btns {
          top: 0;
          left: 0;
          bottom: 0;
          border: 0;
          opacity: 0;
          padding: 0;
          width: 99%;
          position: absolute;
          transition: opacity 0.1s ease-in-out;
        }

        &:hover {
          background-color: @hoverBackground;

          .song_wrapper_btns {
            opacity: 1;
          }
        }
      }

      .active_song {
        color: @activeColor;
        background-color: @activeBackground;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  tbody {
    height: calc(100vh - 18rem) !important;
  }
}

@media screen and (max-width: 480px) {
  .section_songs {
    padding: 0.5rem 0.6rem;

    td {
      padding: 0.6rem;
      font-size: 0.8rem;

      &:first-child {
        padding-left: 1.5rem !important;
      }
    }
  }
}
