@import 'variables.less';

.section_songs {
  padding: 0.5rem 1.6rem;

  table {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-radius: 2px;
    border: 1px solid @borderColor;

    .selected {
      background-color: @hoverBackground;
    }

    tr {
      width: 100%;
      display: table;
      user-select: none;
      table-layout: fixed;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;

      th {
        width: 23.25%;
        padding: 0.8rem;
        font-weight: 400;
        color: @iconColor;
        font-size: 0.85rem;
        background-color: @hoverBackground;
        border-bottom: 1px solid @borderColor;

        &:first-child {
          width: 24px;
        }

        &:last-child {
          width: 24px;
        }

        &:nth-child(3) {
          width: 8%;
        }
      }

      td {
        width: 23.25%;
        padding: 0.8rem;
        font-size: 0.9rem;

        &:nth-child(3) {
          width: 8%;
        }
      }
    }

    tbody {
      display: block;
      overflow-y: scroll;
      height: calc(100vh - 16rem);

      tr {
        cursor: pointer;
        position: relative;
        background-color: @backgroundColor;
        border-bottom: 1px solid @borderColor;
        transition: background-color 0.1s ease-in-out;

        .hover_btns {
          opacity: 0;
          padding: 0;
          width: 24px;
        }

        .playingSongIcon {
          padding: 0;
          width: 24px;
        }

        &:hover {
          background-color: @hoverBackground;

          .hover_btns {
            opacity: 1;
          }
        }
      }

      .active_song {
        color: @activeColor;
        background-color: @activeBackground;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  tbody {
    height: calc(100vh - 18rem) !important;
  }
}

@media screen and (max-width: 480px) {
  .section_songs {
    padding: 0.5rem 0.6rem;

    td {
      padding: 0.6rem;
      font-size: 0.8rem;
    }
  }
}
