.section-artists {
  display: flex;
}
.artists-bar {
  width: 19.6%;
  height: 100vh;
  position: fixed;
  min-width: 19.4%;
  overflow-y: auto;
  max-height: calc(100vh - 12.5rem);
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.artists-bar-row {
  padding: 0.6rem;
  font-size: 0.8rem;
  transition: all 0.1s ease-in-out;
}
.artists-bar-row:hover,
.active {
  color: #757575 !important;
  background-color: rgba(0, 0, 0, 0.07);
}
.section-artists-info {
  left: 24.4%;
  width: 75.6%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .artists-bar {
    display: none;
  }
  .section-artists-info {
    left: 0;
    width: 100%;
  }
}
