.section-artist {
  left: 19%;
  width: 81%;
  position: relative;
  background-color: #f8f8f6;
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
}
.section-artist-header {
  position: relative;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  align-items: baseline;
  background-color: #ffffff;
}
.section-artist-header .song-dropdown {
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #2f75ff;
}
.section-artist-header .dropdown-content {
  top: 0.9rem;
  right: 1.3rem;
}
