.section-player {
  background: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: 50;
  position: fixed;
  max-height: 8rem;
  color: #ffffff !important;
}
.section-player::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.2;
  position: absolute;
  background-image: linear-gradient(45deg, #e6646594 5%, #2f75ff99 79%);
}
.cover-img {
  width: 10%;
  border-radius: 50%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* background-color: black; */
}
.section-player-controls {
  top: 61%;
  width: 100%;
  padding: 0.3rem 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
.progressbar {
  width: 90%;
  min-width: 90%;
  position: relative;
}
.progress-fill {
  top: 0;
  left: 0;
  height: 2px;
  position: absolute;
  border-radius: 10px;
  background-color: #ffffff;
}
.section-song-description {
  margin-left: 1%;
  position: relative;
}
.section-song-description .song-dropdown {
  color: #2f75ff;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #ffffff;
}
.song-title {
  font-weight: 100;
  margin-bottom: 0;
  font-size: 2.5rem;
  margin-top: 0.3rem;
}
.song-artist {
  color: #ffffff;
  margin: 0.4rem 0;
}
.section-player-btns,
.section-volume {
  min-width: 19.68%;
  justify-content: space-evenly;
}
.play-btn {
  font-size: 2.5rem !important;
}
.section-progress {
  min-width: 60.64%;
}
.section-progress span {
  font-size: 0.8rem;
}
.section-progressbar {
  max-width: 41rem !important;
}
.volume-progressbar {
  width: 6rem;
  max-width: 6rem;
  position: relative;
}
.player-material-icons {
  color: #ffffff;
  margin-right: 0;
}
