.section-sidebar {
  left: 0;
  top: 8rem;
  width: 16%;
  z-index: 51;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  background-color: #f8f8f6;
  max-height: calc(100vh - 8rem);
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.sidebar-content {
  align-items: flex-start;
}
.sidebar-content h3,
.logout,
.picker {
  color: #515151;
  font-weight: 600;
  font-size: 0.65rem;
  text-transform: uppercase;
  padding: 0.6rem 0 0.6rem 1.8rem;
}
.content-row {
  min-width: 100%;
  cursor: pointer;
  font-size: 0.84rem;
  padding: 0.6rem 0 0.6rem 1.8rem;
  transition: all 0.1s ease-in-out;
}
.content-row:hover {
  color: #757575 !important;
  background-color: rgba(0, 0, 0, 0.07);
}
.section-sidebar-playlist-icons {
  display: none;
}
.section-sidebar-playlist:hover .section-sidebar-playlist-icons {
  display: flex;
}
.playlist-button {
  width: 60%;
}
#sidebar-search-input {
  border-radius: 0px !important;
  padding: 0.79rem 0 0.79rem 1.8rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.all-songs-link {
  color: #515151;
  font-size: 0.95rem;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #eff0f2;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}
::-webkit-scrollbar-thumb {
  background: #cdced0;
  border-radius: 2rem;
  transition: background 0.1s ease-all;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #bdbdbd;
}

@media screen and (max-width: 768px) {
  #sidebar-search-input,
  .content-row,
  .sidebar-content h3,
  .logout,
  .picker {
    padding: 0.6rem 0 0.6rem 0.6rem !important;
  }
}

@media screen and (max-width: 480px) {
  .section-sidebar {
    display: none;
  }
}
